html {
    background-color: #F2F5F7;
    padding: 3vh 3vh;
    overflow: hidden
}

.index-main{
    display: flex;
    column-gap: 2vh;
    height: 95vh;
}

body {
    margin: 0px;
}

.main-section_left {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    font-size: 0.7rem
}

.income-section,
.bill-section {
    flex: 3
}

.income-section,
.bill-section,
.total-income-section {
    background: white;
    /* width: 43vh; */
    display: inline-block;
    border-radius: 7px;
    box-shadow: -1px 1px 1px #e3e3e3, 1px -1px 2px rgb(231 231 231 / 51%);
    box-sizing: border-box;
    padding: 19px 32px;
}

.total-income-section {
    flex: 1
}

.main-section_right{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    font-size: 0.7rem
}

.graph-section, .expense-section{
    background: white;
    display: inline-block;
    height: 100%;
    border-radius: 7px;
    box-shadow: -1px 1px 1px #e3e3e3, 1px -1px 2px #e7e7e782;
    padding: 10px 24px;
}

.graph-section{
    height: 100%;
    flex: 5
}

.expense-section {
   height: 100%;
   flex: 5
}

.title{
    font-weight: 500;
    letter-spacing: 0.8px;
}

