html {
    background-color: #F2F5F7;
    padding: 3vh 3vh;
    overflow: hidden
}

.index-main {
    display: flex;
    column-gap: 2vh;
    height: 96vh;
}

body {
    margin: 0px;
}

.main-section_left {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    font-size: 0.7rem
}

.income-section,
.bill-section {
    flex: 3
}

.income-section,
.bill-section,
.total-income-section {
    background: white;
    width: 39vh;
    display: inline-block;
    border-radius: 7px;
    box-shadow: -1px 1px 1px #e3e3e3, 1px -1px 2px rgb(231 231 231 / 51%);
    box-sizing: border-box;
    padding: 19px 32px;
    position: relative
}

.total-income-section {
    flex: 1
}

.main-section_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    font-size: 0.7rem
}

/*  .expense-section */
.graph-section {
    background: white;
    display: inline-block;
    height: 100%;
    border-radius: 7px;
    box-shadow: -1px 1px 1px #e3e3e3, 1px -1px 2px #e7e7e782;
    padding: 10px 24px;
}



.graph-section {
    height: 100%;
    flex: 4.7;
    overflow: auto;
}


.title {
    font-weight: 500;
    letter-spacing: 0.8px;
}

.expense-section {
    padding: 13px 32px;
    height: auto;
    flex: 4;
    background: white;
    box-shadow: -1px 1px 1px #e3e3e3, 1px -1px 2px #e7e7e782;
    border-radius: 7px;
}

.goals-section {
    flex: 2;
    background: white;
    box-shadow: -1px 1px 1px #e3e3e3, 1px -1px 2px #e7e7e782;
    border-radius: 7px;
}

.expenses-and-goals-section {
    display: flex;
    height: 100%;
    column-gap: 2vh;
    flex: 5;
    /* padding: 10px 24px; */
}

.expense-section-responsive{
    display: none
}

.main-section_mobile{
    display: none;
}

.main-section_mobile_footer h4{
    cursor: pointer;
}

@media (max-width: 960px) {
    .index-main{
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .expenses-and-goals-section {
        display: none;
    }

    .main-section_left{
        display: flex;
        column-gap: 2vh;
        font-size: 0.7rem;
        flex-direction: row;
        height: 341px;
    }

    .expense-section-responsive{
        display: block
    }
    .bills-section-responsive{
        display: none
    }

    .income-section-responsive{
        flex: 1.6
    }

    
}

.main-section_mobile_footer{
    width: 100vw;
    background: #468C5F;
    height: 55px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.main-section_mobile_footer h4{
    font-weight: 300;
    font-size: 14px
}

.add-income_mobile{
    background-color: white;
    box-shadow: -1px 1px 1px #e3e3e3, 1px -1px 2px #e7e7e782;
    border-radius: 7px;
    width: 62vw
}

@media (max-width: 750px) {
        .index-main{
            justify-content: flex-end;
        }
    .graph-block{
        display: none
    }

    html{
        padding: 0px;
    }

    .main-section_left, .main-section_right{
        display: none;
    }

    .main-section_mobile{
        display: block;
    }
}