body {
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    overflow: hidden
}

html {
    /* background-color: #F2F5F7 !important; */
    /* padding: 3vh 3vh; */
    overflow: hidden;
}

.reset-body {
    margin: 0px;
}

.sign-up-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    column-gap: 200px;
}

.main-section {
    background: linear-gradient(211deg, #468C5F, #1c452a);
    height: 589px;
    width: 1179px;
    border-radius: 16px;
    display: flex;
    box-shadow: 0px 0px 2px grey;
    justify-content: right;
    position: relative;
    /* z-index: 1; */

}

.stacked-coin {
    position: absolute;
    left: 142px;
    width: 480px;
    bottom: -49px;
}

.coin-1 {
    position: absolute;
    width: 150px;
    left: 43px;
    top: 39px;
    transform: rotate(337deg);
}

.coin-2 {
    position: absolute;
    right: 104px;
    width: 121px;
    bottom: -55px;
}

.signup-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    flex-direction: column;
    color: white;
    z-index: 2;
}

.signup-section label {
    font-weight: 300;
    font-size: 15px
}

.signup-section_title {
    font-size: 32px;
    font-weight: 500;
}

.form-input {
    height: 38px;
    width: 313px;
    border-radius: 5px;
    border: solid 0px;
    padding: 3px 18px;
    font-family: 'Poppins';
}

.already-have-account {
    text-decoration: underline;
    font-weight: 300;
    cursor: pointer;
    color: white
}

.sign-up-btn {
    background-color: #203D2A;
    border: none;
    height: 46px;
    font-weight: 300;
    font-size: 12.5px;
    width: 113px;
    color: white;
    letter-spacing: 0.5px;
    border-radius: 6px;
    /* box-shadow: 0px 0px 2px black; */
    cursor: pointer;
    transition: all 250ms linear;
    z-index: 2;
}

.sign-up-btn:hover {
    background-color: #1b3223;
}

/* 
.sign-up-enter-active, .sign-up-leave-active { transition: all 350ms; }
.sign-up-enter, .sign-up-leave-active { opacity: 0.9; filter: blur(3px); } */

@media (max-width: 1385px) {
    .main-section {
        width: 87%;
    }
}

@media (max-width: 1200px) {
    .stacked-coin {
        display: none;
    }

    .signup-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        z-index: 2;
    }

    .main-section {
        justify-content: center
    }

}

@media (max-width: 937px) {
    .coin-1 {
        display: none;
    }
}

@media (max-width: 600px) {
    .coin-2 {
        display: none;
    }

    .signup-section_title {
        font-size: 27px
    }

    .form-input {
        width: 255px
    }
}

@media (max-width: 500px) {
    .signup-section_title {
        font-size: 23px
    }

    .coin-2{
        display: block;
        right: 15px;
    }

    .form-input {
        height: 30px;
        width: 201px;
    }
}